* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field {
  background-color: #fff;
  color: aqua;
  font-size: 12px;
  padding: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .field {
    height: auto;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .field {
    padding: 15px;
    padding-top: 132px;
    font-size: 16px;
  }
}
